{% load static %}

<footer class="social">
    <p>Made by Gayatri Ghogare</p>
    <a href="https://github.com/gayatrig19" id="github" target="_blank" rel="noopener"aria-label="Go to my GitHub repository!(Link opens in a new tab)">
        <i class="fab fa-github social-links"></i></a>
    <a href="https://www.linkedin.com/in/gayatri-ghogare-a8099692/" id="linkedin" target="_blank" rel="noopener" aria-label="Go to my LinkedIn!(Link opens in a new tab)">
        <i class="fab fa-linkedin social-links"></i></a>
</footer>