{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Hero image -->
<div class='image-background'>
    <div class='container h-100'>
        <div class='row h-100 align-items-center'>
            <div class='col-12 text-center '>
                <div class='with-shadow'>
                    <h1 class='display-2 '>This is LA</h1>
                    <p class='lead'>Welcome to Tasty Tales, our one step destination 
                        to explore the recipes around the world</p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}