{% extends 'base.html' %}
{% load static %}


{% block content %}
<!-- Hero image -->
<div class='image-background'>
    <div class='container h-100'>
        <div class='row h-100 align-items-center'>
            <div class='col-12 text-center '>
                <div class='with-shadow'>
                    <p class='display-2'>Welcome to Tasty Tales</p>
                    <p class='lead'>Be part of our culinary community where recipes come to life. 
                        Share your creations, swap tips, and savor the flavors of homemade goodness. 
                        Join us and let's cook up something delicious together!
                    </p>
                    <button class="btn btn-primary">SignUp Now</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}