{% extends "base.html" %}

{% block title %}Recipes{% endblock %}


{% block content %}
<div class="container justify-content-center">
    <div class="row mb-5 mt-5"> 
        {% for recipe in recipes %}
        <div class="col-lg-4 col-md-6 col-12 mb-5 mx-auto">
            <div class="card h-100">
                {% if "placeholder" in recipe.featured_image.url %}
                <img class="card-img-top img-fluid recipe-image" src="#" alt="default recipe image">
                {% else %}
                <img class="card-img-top img-fluid recipe-image" src="{{ recipe.featured_image.url }}" alt="image of the recipe">
                {% endif %}
                <div class="card-body">
                    <p class="card-text text-muted">Posted by {{recipe.author}} || {{ recipe.created_on}}</p>
                    <h2 class="card-title">{{ recipe.title }}</h2>
                    <p class="card-text">{{ recipe.description|truncatechars:90 }}</p>
                    <p class="card-text"><strong><i class="fa-solid fa-globe"></i></strong> Cuisine: {{ recipe.cuisines_type }}</p>
                    
                    <hr/>
                    <a href="#" class="btn btn-primary">View Recipe</a>
                    <!-- <p class="card-text text-muted h6"> {{ recipe.created_on}}</p> -->  
                </div>    
            </div>    
        </div>
        {% endfor %}        
    </div>
</div>
{% endblock %}
    
    
    


