{% extends "base.html" %}

{% block title %}Recipe Detail - {{ recipe.title }} {% endblock %}

{% block content %}
<div class="container">
    <div class="row align-items-start mt-5 mb-4">
        <!-- Column with image -->
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="image img-fluid" src="https://res.cloudinary.com/dpzitpjjc/image/upload/v1707925532/media/default-recipes-image_aufh8i.jpg" alt="default recipe image">
            {% else %}
            <img class="image img-fluid" src="{{ recipe.featured_image.url }}" alt="image of the recipe">
            {% endif %}
        </div>
        <!-- Column with recipe details -->
        <div class="title-container col-12 col-lg-6">
            <h1>{{ recipe.title }}</h1>
            <p class="text-muted">Posted By: {{ recipe.author}} | {{ recipe.created_on }}</p>
            <p><i class="fa-solid fa-clock"></i> Prep Time: {{ recipe.prep_time}} mins</p>
            <p><i class="fa-solid fa-clock"></i> Cooking Time: {{ recipe.cooking_time }} mins</p>
            <p><i class="fa-solid fa-bowl-food"></i> Servings: {{ recipe.servings }}</p>
            <p><i class="fa-solid fa-globe"></i> Cuisine: {{ recipe.get_cuisines_type_display }}</p>
            <p>{{ recipe.description }}</p>
            {% if request.user == recipe.author %}
            <a href="#" id="edit-button" class="btn btn-primary">Edit</a>
            <a href="{% url 'delete_recipe' recipe_id=recipe.id %}" id="delete-button" class="btn btn-primary">Delete</a>
            {% endif %}
        </div>
    </div>
    <hr>
    

    <div class="row mt-5">
        <!-- Ingredients and Instructions -->
        <div class="col-md-6 ingredients-container">
            <div class="mb-3">
                <h2>Ingredients:</h2>
                <p>{{ recipe.ingredients | safe }}</p>
            </div>
        </div>
        <div class="col-md-6 instructions-container">
            <div class="mb-3">
                <h2>Instructions:</h2>
                <p>{{ recipe.instructions | safe }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}