{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Recipe Detail - {{ recipe.title }} {% endblock %}


{% block content %}
<div class="container">
    <div class="row align-items-start mt-5 mb-4">
        <!-- Column with image -->
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="image img-fluid" src="https://res.cloudinary.com/dpzitpjjc/image/upload/v1708216390/media/default-recipes-image_afutac.webp" alt="default recipe image">
            {% else %}
            <img class="image img-fluid" src="{{ recipe.featured_image.url }}" alt="image of the recipe">
            {% endif %}
        </div>
        <!-- Column with recipe details -->
        <div class="title-container col-12 col-lg-6">
            <h1>{{ recipe.title }}</h1>
            <p>Posted By: {{ recipe.author}} | {{ recipe.created_on }}</p>
            <p><i class="fa-solid fa-kitchen-set"></i><strong> Prep Time:</strong> {{ recipe.prep_time}} mins</p>
            <p><i class="fa-solid fa-clock"></i><strong> Cooking Time:</strong> {{ recipe.cooking_time }} mins</p>
            <p><i class="fa-solid fa-bowl-food"></i><strong> Servings:</strong> {{ recipe.servings }}</p>
            <p><i class="fa-solid fa-globe"></i><strong> Cuisine:</strong> {{ recipe.get_cuisines_type_display }}</p>
            <p>{{ recipe.description }}</p>
            {% if user.id == recipe.author.id %}
            <a href="{% url 'update_recipe' recipe.slug %}" id="edit-button" class="btn btn-success w-25">Edit</a>
            <a href="{% url 'delete_recipe' recipe.slug %}" id="delete-button" class="btn btn-danger w-25">Delete</a>
            {% endif %}
        </div>
        <!-- <div class="row">
            <div class="col text-center">
                <form action="#">
                    <button></button>
                </form>

            </div>

        </div> -->
    </div>
    <hr>
    

    <div class="row mt-5">
        <!-- Ingredients and Instructions -->
        <div class="col-md-6 ingredients-container">
            <div class="mb-3">
                <h2>Ingredients:</h2>
                <p>{{ recipe.ingredients | safe }}</p>
            </div>
        </div>
        <div class="col-md-6 instructions-container">
            <div class="mb-3">
                <h2>Instructions:</h2>
                <p>{{ recipe.instructions | safe }}</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}