{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Recipe Detail - {{ recipe.title }} {% endblock %}


{% block content %}
<div class="container">
    <div class="row align-items-start mt-5 mb-4">
        <!-- Column with image -->
        <div class="col-12 col-lg-6 mb-4 mb-lg-0">
            {% if "placeholder" in recipe.featured_image.url %}
            <img class="image img-fluid" src="https://res.cloudinary.com/dpzitpjjc/image/upload/v1708216390/media/default-recipes-image_afutac.webp" alt="default recipe image">
            {% else %}
            <img class="image img-fluid" src="{{ recipe.featured_image.url }}" alt="image of the recipe">
            {% endif %}
        </div>
        <!-- Column with recipe details -->
        <div class="title-container col-12 col-lg-6">
            <h1>{{ recipe.title }}</h1>
            <p>Posted By: {{ recipe.author}} | {{ recipe.created_on }}</p>

            <div class="row mb-3">
                <div class="col">
                    {% if user.is_authenticated %}
                    <form method="POST" class="d-inline" action="{% url 'recipe_like' recipe.slug %}">
                        {% csrf_token %}
                        {% if liked %}
                        <button class="bg-transparent" type="submit" name="recipe_id" value="{{ recipe.slug }}" aria-label="liked the recipe">
                            <i class="fa-solid fa-heart" style="font-size: 26px; color: red;"></i></button>
                        {% else %}
                        <button class="bg-transparent" type="submit" name="recipe_id" value="{{ recipe.slug }}" aria-label="unliked the recipe">
                            <i class="fa-regular fa-heart" style="font-size: 26px;"></i></button>  
                        {% endif %}             
                    </form>
                    {% else %}
                    <span><i class="fa-regular fa-heart"></i></span>
                    {% endif %}
                    <span style="font-size: 23px;">{{ recipe.total_num_of_likes }}</span>
                    {% with comments.count as total_comments %}
                    <span class="spacer spacer-font"><i class="fa-solid fa-comments" style="font-size: 26px;"></i>
                        {{ total_comments }}
                    </span>
                    {% endwith %}
                </div>
            </div>
            <p><i class="fa-solid fa-kitchen-set"></i><strong> Prep Time:</strong> {{ recipe.prep_time}} mins</p>
            <p><i class="fa-solid fa-clock"></i><strong> Cooking Time:</strong> {{ recipe.cooking_time }} mins</p>
            <p><i class="fa-solid fa-bowl-food"></i><strong> Servings:</strong> {{ recipe.servings }}</p>
            <p><i class="fa-solid fa-globe"></i><strong> Cuisine:</strong> {{ recipe.get_cuisines_type_display }}</p>
            <p>{{ recipe.description }}</p>
            {% if user.id == recipe.author.id %}
            <a href="{% url 'update_recipe' recipe.slug %}" id="edit-button" class="btn btn-success w-25">Edit</a>
            <a href="{% url 'delete_recipe' recipe.slug %}" id="delete-button" class="btn btn-danger w-25">Delete</a>
            {% endif %}
           
        </div>    
    </div>
    <hr>
    

    <div class="row mt-5">
        <!-- Ingredients and Instructions -->
        <div class="col-md-6 ingredients-container">
            <div class="mb-3">
                <h2>Ingredients:</h2>
                <p>
                    {{ recipe.ingredients | safe }}
                </p>
            </div>
        </div>
        <div class="col-md-6 instructions-container">
            <div class="mb-3">
                <h2>Instructions:</h2>
                <p>
                    {{ recipe.instructions | safe }}
                </p>
            </div>
        </div>
    </div>
    <hr>
</div>

<!-- Comment Section -->
<div class="container">
    <div class="row">
        <div class="col-12 col-lg-6 mt-3">
            <h2 class="mt-3">Comments:</h2>
            {% for comment in comments %}
            <div>
                <p>{{ comment.comment_author.username }} || {{ comment.created_on }}</p>
                {{ comment.comment_body | linebreaks }}
            </div>
            {% empty %}
            <p>No comments yet</p>
            {% endfor %}
        </div>
        <div class="col-12 col-lg-6 mt-3 mb-4">
            {% if commented %}
            <div class="alert alert-success" role="alert">
                Your comment is awaiting approval
            </div>
            {% else %}

            {% if user.is_authenticated %}
            <h3>Leave a Comment:</h3>
            <p>Posting as: {{ user.username }}</p>
            <form method="post" style="margin-top: 1.3em;">
                {{ comment_form | crispy }}
                {% csrf_token %}
                <button type="submit" class="btn btn-success">Submit</button>
            </form>
            {% endif %}
            {% endif%}
        </div>
    </div>

</div>

{% endblock %}